/*---------------------GENERAL--------------------*/
body {
  margin: 0px 0px 0px 0px;
}



/*---------------------Layout---------------------*/
.nav-top {
  height: 110px;
}

.nav-bottom {
  height: 65px;
}

.logo {
  height: 80px;
  width: 100px;
}

.nav-item {
  height: 50px;
  width: 100px;
}

.nav-search {
  height: 50px;
  width: 250px;
}

.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-col-60 {
  display: flex;
  flex-direction: column;
  width: 55%;
}

.flex-col-40 {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.gutter {
  width: 10%;
}

.justify-content-center {
  justify-content: center;
}

.space-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.container {
  margin: 100px auto;
  width: 80%;
}


/*--------------------COMPONENTS------------------*/

.square-lg {
  flex: none;
  height: 125px;
  width: 125px;
}

.square-md {
  flex: none;
  height: 100px;
  width: 100px;
}

.title-lg {
  height: 150px;
  margin: 0px 0px;
  width: 100%;
}

.title-md {
  height: 60px;
  width: 100%;
}

.content {
  height: 200px;
}

.box-lg {
  height: 400px;
  width: 100%;
}

.box-md {
  height: 300px;
  width: 100%;
}

.box-sm {
  height: 200px;
  width: 100%;
}

/*--------------------UTILITIES-------------------*/
.bg-5 {
  background-color: rgb(40, 40, 40);
}

.bg-4 {
  background-color: rgb(80, 80, 80);
}

.bg-3 {
  background-color: rgb(120, 120, 120);
}

.bg-2 {
  background-color: rgb(160, 160, 160);
}

.bg-1 {
  background-color: rgb(200, 200, 200);
}

.m-0 {
  margin: 0px 0px 0px 0px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-50 {
  margin-top: 50px;
}

.mr-30 {
  margin-right: 30px;
}

.p-20 {
  padding: 20px 20px 20px 20px;
}

.offset-65 {
  position: relative;
  top: -65px;
}

.front {
  z-index: 1;
}

.back {
  z-index: 0;
}